@model EmployeeDataAccess.LoginCredential

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
    <style>
        body{
            background: steelblue;
        }     
        #login-div{
            position: absolute;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -150px;
            width: 300px;
            height: 200px;
        }
        .field-validation-error{
            color: red;
        }
        
        .login-table{
            width: 100%;
            padding: 10px;
        }
        
        .login-fields{
             height:30px; 
             width:250px; 
             border-style: none;
             padding: 5px;
        }
        
        .login-input{
            width: 200px;
        }
    </style>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
         $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
         });
    </script>
</head>
<body>
<div id="login-div">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        <table class="login-table">
            <div style="margin-left: 30%">
                <img rel="icon" src="/Content/enter.png" style="width:100px; height: 100px" alt="My Image" type="image/png">
            </div>
            <tr>
                <td></td>
                <td>
                    @Html.TextBoxFor(model => model.UserName, new {placeholder = "User Name", @class = "login-fields"})
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger"})
                </td>
            </tr>
            <tr class="login-input">
                <td></td>
                <td>
                    @Html.TextBoxFor(model => model.Password, new {type = "password", placeholder = "Password", @class = "login-fields"})
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error" data-toggle="tooltip" ToolTip="test">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button style="width: 260px" type="submit" name="name">Login</button>
                </td>
            </tr>
        </table>
    }
</div>
</body>
</html>
