﻿@model MyWebApp.Models.SalesStatsModel

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 
<!DOCTYPE html>
 
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <style>
        button{
            margin-left: 100px;
        }
        
        table{
            margin-left: 7%;
        }
        
       th{
            padding-right: 30px;
            padding-left: 20px;
            padding-top: 0px;
            text-align: center;
       }
       
       h1{
            font-family: 'Montserrat', sans-serif;
       }
       
       p{
            font-family: 'Montserrat', sans-serif;
       }
       
       .displayName{
            font-family: 'Montserrat', sans-serif;
            word-wrap: break-word;
            color: grey;
       }
       
       .displayValue{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            overflow-wrap: normal;
            width: 50px;
            transform: scale(4,1);
       }
       
       hr{
            width: 200px;
       } 
    </style>
    <meta name="viewport" content="width=device-width"/>
    <title>DataFromDataBase</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () { 
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json", 
                        url: '@Url.Action("EmployeeSalesInfo", "Home")',
                        success: function (result) {
                            google.charts.load('current', {
                                'packages': ['corechart']
                            });
                            google.charts.setOnLoadCallback(function () {
                                drawColumnChart(result);
                            });
                        }
                    });
                });
        
        $(document).ready(function () { 
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json", 
                                url: '@Url.Action("ProductSalesInfo", "Home")',
                                success: function (result) {
                                    google.charts.load('current', {
                                        'packages': ['corechart']
                                    });
                                    google.charts.setOnLoadCallback(function () {
                                        drawLineChart(result);
                                    });
                                }
                            });
                        });
        
        function drawColumnChart(result) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Employee');
                    data.addColumn('number', 'Sales Amount ($)'); 
                    var dataArray = [];
        
                    $.each(result, function (i, obj) {
                        dataArray.push([obj.Employee, obj.saleAmount]);
                    });
                    data.addRows(dataArray);
        
                    var columnChartOptions = {
                        title: "Employee Sales Performance",
                        width: 1000,
                        height: 400,
                        bar: { groupWidth: "20%" },
                    };
        
                    var columnChart = new google.visualization.ColumnChart(document
                        .getElementById('columnchart_div'));
        
                    columnChart.draw(data, columnChartOptions);
                }
        
        function drawLineChart(result) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Product');
                    data.addColumn('number', 'Sales Amount ($)');
                    var dataArray = [];
        
                    $.each(result, function (i, obj) {
                        dataArray.push([obj.Product, obj.saleAmount]);
                    });
                    data.addRows(dataArray);
        
                    var columnChartOptions = {
                        title: "Product Sales Performance",
                        width: 1000,
                        height: 400,
                        bar: { groupWidth: "20%" },
                    };
        
                    var columnChart = new google.visualization.LineChart(document
                        .getElementById('linechart_div'));
        
                    columnChart.draw(data, columnChartOptions);
                }
    </script>
</head>
<body>
    <div class="jumbotron">
        <img rel="icon" src="/Content/sales.png" style="width:200px; height: 200px; float: right; opacity: 0.1" alt="My Image" type="image/png">
        <h1>Sales Metrics</h1>
        <p>Sales charts for all-time employee sales per employee and product sales per product.</p>
    </div>
    
    <br/>
    <br/>
    <table>
        <tr>
            <th>
                <span class="displayValue">$@Html.DisplayFor(model => model.HighestSale)</span>
                <hr>
                <span class="displayName">@Html.DisplayNameFor(model => model.HighestSale)</span>
            </th>
            <th>
                <span class="displayValue">@Html.DisplayFor(model => model.LeadingProduct)</span>
                <hr>
                <span class="displayName">@Html.DisplayNameFor(model => model.LeadingProduct)</span>
            </th>
            <th>
                <span class="displayValue">$@Html.DisplayFor(model => model.AverageSaleAmount)</span>
                <hr>
                <span class="displayName">@Html.DisplayNameFor(model => model.AverageSaleAmount)</span>
            </th>
            <th>
                <span class="displayValue">@Html.DisplayFor(model => model.LeadingSalesEmployee)</span>
                <hr>
                <span class="displayName">@Html.DisplayNameFor(model => model.LeadingSalesEmployee)</span>
            </th>
        </tr>    
    </table>

    <br/>
    <br/>
    <br/>

    <div id="columnchart_div" style="text-align: center"></div>
    @using (Html.BeginForm("ExportEmployeeSalesTotals", "Home", FormMethod.Post))
    {
        <button class="btn btn-md btn-primary" type="submit" id="btnSubmit"> Export Employee Data </button>
    }

    <br/>
    <div id="linechart_div"></div>
    @using (Html.BeginForm("ExportProductSalesTotals", "Home", FormMethod.Post))
    {
        <button class="btn btn-md btn-primary" type="submit" id="btnSubmit"> Export Product Data </button>
    }
</body>
</html>
