.welcome-username{
    float: right;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 15px;
    list-style: none;
}

.dropdown-style{
    width:280px; 
    height:30px; 
    border-radius:5px; 
    border-color:Grey; 
    color:Grey;
    padding: 5px;
}